*/.metadata/*
*/.recommenders/*
spark_web_tpt/.recommenders/*
spark_web_tpt/.metadata/.*
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0_1.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_2_2.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__javax_xml_stream_stax_api_1_0_2.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__mx4j_mx4j_3_0_2.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__net_iharder_base64_2_3_8.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__net_java_dev_jets3t_jets3t_0_9_3.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__net_jpountz_lz4_lz4_1_3_0.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__net_razorvine_pyrolite_4_13.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__net_sf_py4j_py4j_0_10_4.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__org_antlr_antlr4_runtime_4_5_3.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__org_apache_avro_avro_1_7_7.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__org_apache_avro_avro_ipc_1_7_7.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__org_apache_avro_avro_ipc_tests_1_7_7.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__org_apache_avro_avro_mapred_hadoop2_1_7_7.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__org_apache_commons_commons_compress_1_4_1.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__org_apache_commons_commons_crypto_1_0_0.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__org_apache_commons_commons_math3_3_4_1.xml
spark_web_tpt/TPT_Predictor/.idea/libraries/Maven__org_apache_ivy_ivy_2_4_0.xml
